/*
SCP Kubernetes Service

SCP Kubernetes Service

API version: 0.0.1.dev2582
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ske

import (
	"bytes"
	"context"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/client"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SkeV1CronJobsApiAPIService SkeV1CronJobsApiAPI service
type SkeV1CronJobsApiAPIService service

type SkeV1CronJobsApiAPIDeleteCronJobRequest struct {
	ctx           context.Context
	ApiService    *SkeV1CronJobsApiAPIService
	clusterId     string
	namespaceName string
	name          *Name1
}

// Names
func (r SkeV1CronJobsApiAPIDeleteCronJobRequest) Name(name Name1) SkeV1CronJobsApiAPIDeleteCronJobRequest {
	r.name = &name
	return r
}

func (r SkeV1CronJobsApiAPIDeleteCronJobRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteCronJobExecute(r)
}

/*
DeleteCronJob Delete Cron Job

delete a cron job

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clusterId Cluster ID
	@param namespaceName Namespace Name
	@return SkeV1CronJobsApiAPIDeleteCronJobRequest
*/
func (a *SkeV1CronJobsApiAPIService) DeleteCronJob(ctx context.Context, clusterId string, namespaceName string) SkeV1CronJobsApiAPIDeleteCronJobRequest {
	return SkeV1CronJobsApiAPIDeleteCronJobRequest{
		ApiService:    a,
		ctx:           ctx,
		clusterId:     clusterId,
		namespaceName: namespaceName,
	}
}

// Execute executes the request
func (a *SkeV1CronJobsApiAPIService) DeleteCronJobExecute(r SkeV1CronJobsApiAPIDeleteCronJobRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return nil, err
		}
	}

	localVarPath := basePath + "/v1/clusters/{cluster_id}/namespaces/{namespace_name}/cronjobs"
	localVarPath = strings.Replace(localVarPath, "{"+"cluster_id"+"}", url.PathEscape(parameterValueToString(r.clusterId, "clusterId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace_name"+"}", url.PathEscape(parameterValueToString(r.namespaceName, "namespaceName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	localVarHeaderParams["Scp-API-Version"] = "ske 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SkeV1CronJobsApiAPIListCronJobsRequest struct {
	ctx           context.Context
	ApiService    *SkeV1CronJobsApiAPIService
	clusterId     string
	namespaceName string
	size          *int32
	page          *int32
	sort          *string
	name          *string
	systemObject  *bool
}

// size
func (r SkeV1CronJobsApiAPIListCronJobsRequest) Size(size int32) SkeV1CronJobsApiAPIListCronJobsRequest {
	r.size = &size
	return r
}

// page
func (r SkeV1CronJobsApiAPIListCronJobsRequest) Page(page int32) SkeV1CronJobsApiAPIListCronJobsRequest {
	r.page = &page
	return r
}

// sort
func (r SkeV1CronJobsApiAPIListCronJobsRequest) Sort(sort string) SkeV1CronJobsApiAPIListCronJobsRequest {
	r.sort = &sort
	return r
}

// Cron Job Name
func (r SkeV1CronJobsApiAPIListCronJobsRequest) Name(name string) SkeV1CronJobsApiAPIListCronJobsRequest {
	r.name = &name
	return r
}

// System Object
func (r SkeV1CronJobsApiAPIListCronJobsRequest) SystemObject(systemObject bool) SkeV1CronJobsApiAPIListCronJobsRequest {
	r.systemObject = &systemObject
	return r
}

func (r SkeV1CronJobsApiAPIListCronJobsRequest) Execute() (*CronJobListResponse, *http.Response, error) {
	return r.ApiService.ListCronJobsExecute(r)
}

/*
ListCronJobs List Cron Jobs

get cron job list

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clusterId Cluster ID
	@param namespaceName Namespace Name
	@return SkeV1CronJobsApiAPIListCronJobsRequest
*/
func (a *SkeV1CronJobsApiAPIService) ListCronJobs(ctx context.Context, clusterId string, namespaceName string) SkeV1CronJobsApiAPIListCronJobsRequest {
	return SkeV1CronJobsApiAPIListCronJobsRequest{
		ApiService:    a,
		ctx:           ctx,
		clusterId:     clusterId,
		namespaceName: namespaceName,
	}
}

// Execute executes the request
//
//	@return CronJobListResponse
func (a *SkeV1CronJobsApiAPIService) ListCronJobsExecute(r SkeV1CronJobsApiAPIListCronJobsRequest) (*CronJobListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CronJobListResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/clusters/{cluster_id}/namespaces/{namespace_name}/cronjobs"
	localVarPath = strings.Replace(localVarPath, "{"+"cluster_id"+"}", url.PathEscape(parameterValueToString(r.clusterId, "clusterId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace_name"+"}", url.PathEscape(parameterValueToString(r.namespaceName, "namespaceName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.systemObject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "system_object", r.systemObject, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "ske 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SkeV1CronJobsApiAPIShowCronJobRequest struct {
	ctx           context.Context
	ApiService    *SkeV1CronJobsApiAPIService
	clusterId     string
	namespaceName string
	cronJobName   string
}

func (r SkeV1CronJobsApiAPIShowCronJobRequest) Execute() (*CronJobShowResponse, *http.Response, error) {
	return r.ApiService.ShowCronJobExecute(r)
}

/*
ShowCronJob Show Cron Job

show a cron job

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clusterId Cluster ID
	@param namespaceName Namespace Name
	@param cronJobName Cron Job Name
	@return SkeV1CronJobsApiAPIShowCronJobRequest
*/
func (a *SkeV1CronJobsApiAPIService) ShowCronJob(ctx context.Context, clusterId string, namespaceName string, cronJobName string) SkeV1CronJobsApiAPIShowCronJobRequest {
	return SkeV1CronJobsApiAPIShowCronJobRequest{
		ApiService:    a,
		ctx:           ctx,
		clusterId:     clusterId,
		namespaceName: namespaceName,
		cronJobName:   cronJobName,
	}
}

// Execute executes the request
//
//	@return CronJobShowResponse
func (a *SkeV1CronJobsApiAPIService) ShowCronJobExecute(r SkeV1CronJobsApiAPIShowCronJobRequest) (*CronJobShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CronJobShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/clusters/{cluster_id}/namespaces/{namespace_name}/cronjobs/{cron_job_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"cluster_id"+"}", url.PathEscape(parameterValueToString(r.clusterId, "clusterId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace_name"+"}", url.PathEscape(parameterValueToString(r.namespaceName, "namespaceName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"cron_job_name"+"}", url.PathEscape(parameterValueToString(r.cronJobName, "cronJobName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "ske 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
