/*
SCP Kubernetes Service

SCP Kubernetes Service

API version: 0.0.1.dev2582
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ske

import (
	"bytes"
	"context"
	scpsdk "github.com/SamsungSDSCloud/terraform-sdk-samsungcloudplatformv2/client"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SkeV1ConfigMapsApiAPIService SkeV1ConfigMapsApiAPI service
type SkeV1ConfigMapsApiAPIService service

type SkeV1ConfigMapsApiAPIDeleteConfigMapRequest struct {
	ctx           context.Context
	ApiService    *SkeV1ConfigMapsApiAPIService
	clusterId     string
	namespaceName string
	name          *Name
}

// Names
func (r SkeV1ConfigMapsApiAPIDeleteConfigMapRequest) Name(name Name) SkeV1ConfigMapsApiAPIDeleteConfigMapRequest {
	r.name = &name
	return r
}

func (r SkeV1ConfigMapsApiAPIDeleteConfigMapRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteConfigMapExecute(r)
}

/*
DeleteConfigMap Delete Config Map

delete a config map

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clusterId Cluster ID
	@param namespaceName Namespace Name
	@return SkeV1ConfigMapsApiAPIDeleteConfigMapRequest
*/
func (a *SkeV1ConfigMapsApiAPIService) DeleteConfigMap(ctx context.Context, clusterId string, namespaceName string) SkeV1ConfigMapsApiAPIDeleteConfigMapRequest {
	return SkeV1ConfigMapsApiAPIDeleteConfigMapRequest{
		ApiService:    a,
		ctx:           ctx,
		clusterId:     clusterId,
		namespaceName: namespaceName,
	}
}

// Execute executes the request
func (a *SkeV1ConfigMapsApiAPIService) DeleteConfigMapExecute(r SkeV1ConfigMapsApiAPIDeleteConfigMapRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return nil, err
		}
	}

	localVarPath := basePath + "/v1/clusters/{cluster_id}/namespaces/{namespace_name}/configmaps"
	localVarPath = strings.Replace(localVarPath, "{"+"cluster_id"+"}", url.PathEscape(parameterValueToString(r.clusterId, "clusterId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace_name"+"}", url.PathEscape(parameterValueToString(r.namespaceName, "namespaceName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	localVarHeaderParams["Scp-API-Version"] = "ske 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SkeV1ConfigMapsApiAPIListConfigMapsRequest struct {
	ctx           context.Context
	ApiService    *SkeV1ConfigMapsApiAPIService
	clusterId     string
	namespaceName string
	size          *int32
	page          *int32
	sort          *string
	name          *string
	systemObject  *bool
}

// size
func (r SkeV1ConfigMapsApiAPIListConfigMapsRequest) Size(size int32) SkeV1ConfigMapsApiAPIListConfigMapsRequest {
	r.size = &size
	return r
}

// page
func (r SkeV1ConfigMapsApiAPIListConfigMapsRequest) Page(page int32) SkeV1ConfigMapsApiAPIListConfigMapsRequest {
	r.page = &page
	return r
}

// sort
func (r SkeV1ConfigMapsApiAPIListConfigMapsRequest) Sort(sort string) SkeV1ConfigMapsApiAPIListConfigMapsRequest {
	r.sort = &sort
	return r
}

// Config Map Name
func (r SkeV1ConfigMapsApiAPIListConfigMapsRequest) Name(name string) SkeV1ConfigMapsApiAPIListConfigMapsRequest {
	r.name = &name
	return r
}

// System Object
func (r SkeV1ConfigMapsApiAPIListConfigMapsRequest) SystemObject(systemObject bool) SkeV1ConfigMapsApiAPIListConfigMapsRequest {
	r.systemObject = &systemObject
	return r
}

func (r SkeV1ConfigMapsApiAPIListConfigMapsRequest) Execute() (*ConfigMapListResponse, *http.Response, error) {
	return r.ApiService.ListConfigMapsExecute(r)
}

/*
ListConfigMaps List Config Maps

get config map list

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clusterId Cluster ID
	@param namespaceName Namespace Name
	@return SkeV1ConfigMapsApiAPIListConfigMapsRequest
*/
func (a *SkeV1ConfigMapsApiAPIService) ListConfigMaps(ctx context.Context, clusterId string, namespaceName string) SkeV1ConfigMapsApiAPIListConfigMapsRequest {
	return SkeV1ConfigMapsApiAPIListConfigMapsRequest{
		ApiService:    a,
		ctx:           ctx,
		clusterId:     clusterId,
		namespaceName: namespaceName,
	}
}

// Execute executes the request
//
//	@return ConfigMapListResponse
func (a *SkeV1ConfigMapsApiAPIService) ListConfigMapsExecute(r SkeV1ConfigMapsApiAPIListConfigMapsRequest) (*ConfigMapListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConfigMapListResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/clusters/{cluster_id}/namespaces/{namespace_name}/configmaps"
	localVarPath = strings.Replace(localVarPath, "{"+"cluster_id"+"}", url.PathEscape(parameterValueToString(r.clusterId, "clusterId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace_name"+"}", url.PathEscape(parameterValueToString(r.namespaceName, "namespaceName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.systemObject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "system_object", r.systemObject, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "ske 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SkeV1ConfigMapsApiAPIShowConfigMapRequest struct {
	ctx           context.Context
	ApiService    *SkeV1ConfigMapsApiAPIService
	clusterId     string
	namespaceName string
	configMapName string
}

func (r SkeV1ConfigMapsApiAPIShowConfigMapRequest) Execute() (*ConfigMapShowResponse, *http.Response, error) {
	return r.ApiService.ShowConfigMapExecute(r)
}

/*
ShowConfigMap Show Config Map

show a config map

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clusterId Cluster ID
	@param namespaceName Namespace Name
	@param configMapName Config Map Name
	@return SkeV1ConfigMapsApiAPIShowConfigMapRequest
*/
func (a *SkeV1ConfigMapsApiAPIService) ShowConfigMap(ctx context.Context, clusterId string, namespaceName string, configMapName string) SkeV1ConfigMapsApiAPIShowConfigMapRequest {
	return SkeV1ConfigMapsApiAPIShowConfigMapRequest{
		ApiService:    a,
		ctx:           ctx,
		clusterId:     clusterId,
		namespaceName: namespaceName,
		configMapName: configMapName,
	}
}

// Execute executes the request
//
//	@return ConfigMapShowResponse
func (a *SkeV1ConfigMapsApiAPIService) ShowConfigMapExecute(r SkeV1ConfigMapsApiAPIShowConfigMapRequest) (*ConfigMapShowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConfigMapShowResponse
	)

	var basePath string

	if a.client.cfg.Endpoint != "" {
		basePath = a.client.cfg.Endpoint
	} else {
		var err error
		catalog := scpsdk.NewCatalog(
			a.client.cfg.AuthUrl,
			a.client.cfg.Credentials.AccessKey,
			a.client.cfg.Credentials.SecretKey,
			a.client.cfg.DefaultRegion,
		)
		basePath, err = catalog.GetEndpoint(
			a.client.cfg.ServiceType, a.client.cfg.Region, a.client.cfg.AccountId,
		)
		if err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := basePath + "/v1/clusters/{cluster_id}/namespaces/{namespace_name}/configmaps/{config_map_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"cluster_id"+"}", url.PathEscape(parameterValueToString(r.clusterId, "clusterId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace_name"+"}", url.PathEscape(parameterValueToString(r.namespaceName, "namespaceName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"config_map_name"+"}", url.PathEscape(parameterValueToString(r.configMapName, "configMapName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	localVarHeaderParams["Scp-API-Version"] = "ske 1.0"

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Auth-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &scpsdk.GenericOpenAPIError{
			ResponseBody: localVarBody,
			ErrorMessage: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
