openapi: 3.1.0
info:
  description: SCP Kubernetes Service
  title: SCP Kubernetes Service
  version: 0.0.1.dev2582
servers:
- url: https://scp-kubernetes-a.kr-west1.dev2.samsungsdscloud.com
tags:
- description: Clusters API
  name: ske.v1.ClustersApi
- description: Namespaces API
  name: ske.v1.NamespacesApi
- description: Nodes API
  name: ske.v1.NodesApi
- description: Objects API
  name: ske.v1.ObjectsApi
- description: Deployments API
  name: ske.v1.DeploymentsApi
- description: Services API
  name: ske.v1.ServicesApi
- description: Endpoints API
  name: ske.v1.EndpointsApi
- description: Ingresses API
  name: ske.v1.IngressesApi
- description: Ingress Classes API
  name: ske.v1.IngressClassesApi
- description: Jobs API
  name: ske.v1.JobsApi
- description: StatefulSets API
  name: ske.v1.StatefulSetsApi
- description: DaemonSets API
  name: ske.v1.DaemonSetsApi
- description: Pods API
  name: ske.v1.PodsApi
- description: CronJobs API
  name: ske.v1.CronJobsApi
- description: ConfigMaps API
  name: ske.v1.ConfigMapsApi
- description: Persistent volume claims API
  name: ske.v1.PvcsApi
- description: Persistent volume API
  name: ske.v1.PvsApi
- description: Storage Class API
  name: ske.v1.StorageClassesApi
- description: Cluster Role API
  name: ske.v1.ClusterRolesApi
- description: Cluster Role Binding API
  name: ske.v1.ClusterRoleBindingsApi
- description: Events API
  name: ske.v1.EventsApi
- description: Secrets API
  name: ske.v1.SecretsApi
- description: Roles API
  name: ske.v1.RolesApi
- description: RoleBindings API
  name: ske.v1.RoleBindingsApi
- description: Nodepools API
  name: ske.v1.NodepoolsApi
- description: KubernetesVersions API
  name: ske.v1.KubernetesVersionsApi
- description: Internal Clusters API
  name: ske.v1.internalClustersApi
- description: Internal Helm API
  name: ske.v1.InternalHelmApi
- description: Internal Storage class API
  name: ske.v1.InternalStorageClassesApi
- description: Internal Namespaces API
  name: ske.v1.InternalNamespacesApi
- description: Internal Services API
  name: ske.v1.InternalServicesApi
- description: Internal Pods API
  name: ske.v1.InternalPodsApi
- description: Internal ConfigMaps API
  name: ske.v1.InternalConfigMapsApi
paths:
  /v1/clusters:
    get:
      description: get clusters list
      operationId: listClusters
      parameters:
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Cluster Name
        example: sample-cluster
        explode: true
        in: query
        name: name
        required: false
        schema:
          nullable: true
          pattern: "^[a-z0-9\\-]*$"
          type: string
        style: form
      - description: Cluster Status
        example: RUNNING
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/Status'
        style: form
      - description: Cluster Version
        example: v1.29.8
        explode: true
        in: query
        name: kubernetes_version
        required: false
        schema:
          $ref: '#/components/schemas/Kubernetes_Version'
        style: form
      - description: Cluster Subnet ID
        example: 023c57b14f11483689338d085e061492
        explode: true
        in: query
        name: subnet_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Clusters
      tags:
      - ske.v1.ClustersApi
      x-action-id: ske:ListClusters
      x-api-access-level: LIST
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: cluster_list
      x-not-before: "20250701"
      x-operation-id: listClusters
      x-resource: cluster
    post:
      description: create a cluster
      operationId: createCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterCreateRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponse'
          description: Accepted
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Create Cluster
      tags:
      - ske.v1.ClustersApi
      x-action-id: ske:CreateCluster
      x-api-access-level: CREATE
      x-api-created-date: "20241001"
      x-api-modified-date: "20250428"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: cluster_create
      x-not-before: "20250701"
      x-operation-id: createCluster
      x-resource: cluster
  /v1/clusters/console/clusters/{server_id}:
    get:
      description: show a cluster console
      operationId: showClusterConsole
      parameters:
      - description: Server ID
        example: 2a9be312-5d4b-4bc8-b2ae-35100fa9241f
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          description: Server ID
          example: 2a9be312-5d4b-4bc8-b2ae-35100fa9241f
          title: Server Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Cluster Console
      tags:
      - ske.v1.ClustersApi
      x-action-id: ske:ShowClusterByVm
      x-api-access-level: READ
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showClusterConsole
  /v1/clusters/{cluster_id}:
    delete:
      description: delete a specific cluster
      operationId: deleteCluster
      parameters:
      - description: Cluster ID
        example: 70a599e031e749b7b260868f441e862b
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          example: 70a599e031e749b7b260868f441e862b
          pattern: "^[0-9a-f]{32}$"
          title: Cluster Id
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponse'
          description: Accepted
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Cluster
      tags:
      - ske.v1.ClustersApi
      x-action-id: ske:DeleteCluster
      x-api-access-level: DELETE
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: cluster_delete
      x-not-before: "20250701"
      x-operation-id: deleteCluster
      x-resource: cluster
    get:
      description: show a cluster
      operationId: showCluster
      parameters:
      - description: Cluster ID
        example: 70a599e031e749b7b260868f441e862b
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          example: 70a599e031e749b7b260868f441e862b
          pattern: "^[0-9a-f]{32}$"
          title: Cluster Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Cluster
      tags:
      - ske.v1.ClustersApi
      x-action-id: ske:ShowCluster
      x-api-access-level: READ
      x-api-created-date: "20241001"
      x-api-modified-date: "20250428"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: cluster_show
      x-not-before: "20250701"
      x-operation-id: showCluster
      x-resource: cluster
  /v1/clusters/{cluster_id}/clusterrolebindings:
    delete:
      description: delete a cluster role binding
      operationId: deleteClusterRoleBinding
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Cluster RoleBinding
      tags:
      - ske.v1.ClusterRoleBindingsApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteClusterRoleBinding
    get:
      description: get cluster role binding list
      operationId: listClusterRoleBindings
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRoleBindingListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Cluster Role Bindings
      tags:
      - ske.v1.ClusterRoleBindingsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listClusterRoleBindings
  /v1/clusters/{cluster_id}/clusterrolebindings/{cluster_role_binding_name}:
    get:
      description: show a cluster role binding
      operationId: showClusterRoleBinding
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Cluster Role Binding Name
        explode: false
        in: path
        name: cluster_role_binding_name
        required: true
        schema:
          description: Cluster Role Binding Name
          title: Cluster Role Binding Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRoleBindingShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Cluster RoleBinding
      tags:
      - ske.v1.ClusterRoleBindingsApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showClusterRoleBinding
  /v1/clusters/{cluster_id}/clusterroles:
    delete:
      description: delete a cluster role
      operationId: deleteClusterRole
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Cluster Role
      tags:
      - ske.v1.ClusterRolesApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteClusterRole
    get:
      description: get cluster role list
      operationId: listClusterRoles
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRoleListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Cluster Roles
      tags:
      - ske.v1.ClusterRolesApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listClusterRoles
  /v1/clusters/{cluster_id}/clusterroles/{cluster_role_name}:
    get:
      description: show a cluster role
      operationId: showClusterRole
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Cluster Role Name
        explode: false
        in: path
        name: cluster_role_name
        required: true
        schema:
          description: Cluster Role Name
          title: Cluster Role Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRoleShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Cluster Role
      tags:
      - ske.v1.ClusterRolesApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showClusterRole
  /v1/clusters/{cluster_id}/events:
    get:
      description: get event list
      operationId: listEvents
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Events
      tags:
      - ske.v1.EventsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listEvents
  /v1/clusters/{cluster_id}/ingressclasses:
    delete:
      description: delete an ingress class
      operationId: deleteIngressClass
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Ingress Class
      tags:
      - ske.v1.IngressClassesApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteIngressClass
    get:
      description: get ingress class list
      operationId: listIngressClasses
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressClassListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Ingress Classes
      tags:
      - ske.v1.IngressClassesApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listIngressClasses
  /v1/clusters/{cluster_id}/ingressclasses/{ingress_class_name}:
    get:
      description: show an ingress class
      operationId: showIngressClass
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Ingress Class Name
        explode: false
        in: path
        name: ingress_class_name
        required: true
        schema:
          description: Ingress Class Name
          title: Ingress Class Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressClassShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Ingress Class
      tags:
      - ske.v1.IngressClassesApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showIngressClass
  /v1/clusters/{cluster_id}/kubeconfig:
    get:
      description: Create kubeconfig file for the cluster
      operationId: createClusterKubeconfig
      parameters:
      - description: Cluster ID
        example: 70a599e031e749b7b260868f441e862b
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          example: 70a599e031e749b7b260868f441e862b
          pattern: "^[0-9a-f]{32}$"
          title: Cluster Id
          type: string
        style: simple
      - description: Kubeconfig Type
        example: private
        explode: true
        in: query
        name: kubeconfig_type
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/ClusterKubeconfigType'
          description: Kubeconfig Type
          example: private
        style: form
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Create Cluster Kubeconfig
      tags:
      - ske.v1.ClustersApi
      x-action-id: ske:CreateClusterAdminKubeconfig
      x-api-access-level: CREATE
      x-api-created-date: "20241001"
      x-api-modified-date: "20250702"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: cluster_kubeconfig_create
      x-not-before: "20250701"
      x-operation-id: createClusterKubeconfig
      x-resource: cluster
  /v1/clusters/{cluster_id}/logging:
    put:
      description: Set logging on the cluster
      operationId: setClusterLogging
      parameters:
      - description: Cluster ID
        example: 70a599e031e749b7b260868f441e862b
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          example: 70a599e031e749b7b260868f441e862b
          pattern: "^[0-9a-f]{32}$"
          title: Cluster Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterLoggingSetRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterSetResponse'
          description: Accepted
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Set Cluster Logging
      tags:
      - ske.v1.ClustersApi
      x-action-id: ske:SetClusterLogging
      x-api-access-level: UPDATE
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: cluster_logging_set
      x-not-before: "20250701"
      x-operation-id: setClusterLogging
      x-resource: cluster
  /v1/clusters/{cluster_id}/namespaces:
    delete:
      description: delete a specific namespace
      operationId: deleteNamespace
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Namespace
      tags:
      - ske.v1.NamespacesApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteNamespace
    get:
      description: get namespace list
      operationId: listNamespaces
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Namespaces
      tags:
      - ske.v1.NamespacesApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listNamespaces
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}:
    get:
      description: show a namespace
      operationId: showNamespace
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Namespace
      tags:
      - ske.v1.NamespacesApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showNamespace
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/configmaps:
    delete:
      description: delete a config map
      operationId: deleteConfigMap
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Names
        explode: true
        in: query
        name: name
        required: true
        schema:
          $ref: '#/components/schemas/Name'
        style: form
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Config Map
      tags:
      - ske.v1.ConfigMapsApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteConfigMap
    get:
      description: get config map list
      operationId: listConfigMaps
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Config Map Name
        explode: true
        in: query
        name: name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: System Object
        explode: true
        in: query
        name: system_object
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigMapListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Config Maps
      tags:
      - ske.v1.ConfigMapsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listConfigMaps
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/configmaps/{config_map_name}:
    get:
      description: show a config map
      operationId: showConfigMap
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Config Map Name
        explode: false
        in: path
        name: config_map_name
        required: true
        schema:
          description: Config Map Name
          title: Config Map Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigMapShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Config Map
      tags:
      - ske.v1.ConfigMapsApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showConfigMap
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/cronjobs:
    delete:
      description: delete a cron job
      operationId: deleteCronJob
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Names
        explode: true
        in: query
        name: name
        required: true
        schema:
          $ref: '#/components/schemas/Name_1'
        style: form
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Cron Job
      tags:
      - ske.v1.CronJobsApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteCronJob
    get:
      description: get cron job list
      operationId: listCronJobs
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Cron Job Name
        explode: true
        in: query
        name: name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: System Object
        explode: true
        in: query
        name: system_object
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronJobListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Cron Jobs
      tags:
      - ske.v1.CronJobsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listCronJobs
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/cronjobs/{cron_job_name}:
    get:
      description: show a cron job
      operationId: showCronJob
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Cron Job Name
        explode: false
        in: path
        name: cron_job_name
        required: true
        schema:
          description: Cron Job Name
          title: Cron Job Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronJobShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Cron Job
      tags:
      - ske.v1.CronJobsApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showCronJob
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/daemonsets:
    delete:
      description: delete a daemon set
      operationId: deleteDaemonSet
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Names
        explode: true
        in: query
        name: name
        required: true
        schema:
          $ref: '#/components/schemas/Name_1'
        style: form
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Daemon Set
      tags:
      - ske.v1.DaemonSetsApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteDaemonSet
    get:
      description: get daemon set list
      operationId: listDaemonSets
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Daemon Set Name
        explode: true
        in: query
        name: name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: System Object
        explode: true
        in: query
        name: system_object
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DaemonSetListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Daemon Sets
      tags:
      - ske.v1.DaemonSetsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listDaemonSets
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/daemonsets/{daemon_set_name}:
    get:
      description: show a daemon set
      operationId: showDaemonSet
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Daemon Set Name
        explode: false
        in: path
        name: daemon_set_name
        required: true
        schema:
          description: Daemon Set Name
          title: Daemon Set Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DaemonSetShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Daemon Set
      tags:
      - ske.v1.DaemonSetsApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showDaemonSet
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/deployments:
    delete:
      description: delete a deployment
      operationId: deleteDeployment
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Deployment
      tags:
      - ske.v1.DeploymentsApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteDeployment
    get:
      description: get deployment list
      operationId: listDeployments
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Deployments
      tags:
      - ske.v1.DeploymentsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listDeployments
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/deployments/{deployment_name}:
    get:
      description: show a deployment
      operationId: showDeployment
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Deployment Name
        explode: false
        in: path
        name: deployment_name
        required: true
        schema:
          description: Deployment Name
          title: Deployment Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Deployment
      tags:
      - ske.v1.DeploymentsApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showDeployment
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/endpoints:
    delete:
      description: delete an endpoint
      operationId: deleteEndpoint
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Endpoint
      tags:
      - ske.v1.EndpointsApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteEndpoint
    get:
      description: get endpoint list
      operationId: listEndpoints
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Endpoints
      tags:
      - ske.v1.EndpointsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listEndpoints
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/endpoints/{endpoint_name}:
    get:
      description: show an endpoint
      operationId: showEndpoint
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Endpoint Name
        explode: false
        in: path
        name: endpoint_name
        required: true
        schema:
          description: Endpoint Name
          title: Endpoint Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Endpoint
      tags:
      - ske.v1.EndpointsApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showEndpoint
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/events:
    get:
      description: get namespaced event list
      operationId: listNamespacedEvents
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Namespaced Events
      tags:
      - ske.v1.EventsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listNamespacedEvents
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/ingresses:
    delete:
      description: delete an ingress
      operationId: deleteIngress
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Ingress
      tags:
      - ske.v1.IngressesApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteIngress
    get:
      description: get ingress list
      operationId: listIngresses
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Ingresses
      tags:
      - ske.v1.IngressesApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listIngresses
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/ingresses/{ingress_name}:
    get:
      description: show a Ingress
      operationId: showIngress
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Ingress Name
        explode: false
        in: path
        name: ingress_name
        required: true
        schema:
          description: Ingress Name
          title: Ingress Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Ingress
      tags:
      - ske.v1.IngressesApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showIngress
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/jobs:
    delete:
      description: delete a job
      operationId: deleteJob
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Job
      tags:
      - ske.v1.JobsApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteJob
    get:
      description: get job list
      operationId: listJobs
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Jobs
      tags:
      - ske.v1.JobsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listJobs
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/jobs/{job_name}:
    get:
      description: show a job
      operationId: showJob
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Job Name
        explode: false
        in: path
        name: job_name
        required: true
        schema:
          description: Job Name
          title: Job Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Job
      tags:
      - ske.v1.JobsApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showJob
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/persistentvolumeclaims:
    delete:
      description: delete a pvc
      operationId: deletePvc
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete PVC
      tags:
      - ske.v1.PvcsApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deletePvc
    get:
      description: get job pvc
      operationId: listPvcs
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PvcListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List PVCs
      tags:
      - ske.v1.PvcsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listPvcs
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/persistentvolumeclaims/{pvc_name}:
    get:
      description: show a pvc
      operationId: showPvc
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: PVC Name
        explode: false
        in: path
        name: pvc_name
        required: true
        schema:
          description: PVC Name
          title: Pvc Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PvcShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show PVC
      tags:
      - ske.v1.PvcsApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showPvc
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/pods:
    delete:
      description: delete a pod
      operationId: deletePod
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Pod
      tags:
      - ske.v1.PodsApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deletePod
    get:
      description: get namespaced pod list
      operationId: listNamespacedPods
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Namespaced Pods
      tags:
      - ske.v1.PodsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listNamespacedPods
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/pods/{pod_name}:
    get:
      description: show a pod
      operationId: showPod
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Pod Name
        explode: false
        in: path
        name: pod_name
        required: true
        schema:
          description: Pod Name
          title: Pod Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Pod
      tags:
      - ske.v1.PodsApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showPod
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/pods/{pod_name}/logs:
    get:
      description: show a pod log
      operationId: showPodLog
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Pod Name
        explode: false
        in: path
        name: pod_name
        required: true
        schema:
          description: Pod Name
          title: Pod Name
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Pod Log
      tags:
      - ske.v1.PodsApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showPodLog
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/rolebindings:
    delete:
      description: delete a role binding
      operationId: deleteRoleBinding
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Names
        explode: true
        in: query
        name: name
        required: true
        schema:
          $ref: '#/components/schemas/Name_1'
        style: form
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Role Binding
      tags:
      - ske.v1.RoleBindingsApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteRoleBinding
    get:
      description: get role binding list
      operationId: listRoleBindings
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Role Binding Name
        explode: true
        in: query
        name: name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: System Object
        explode: true
        in: query
        name: system_object
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleBindingListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Role Bindings
      tags:
      - ske.v1.RoleBindingsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listRoleBindings
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/rolebindings/{role_binding_name}:
    get:
      description: show a role binding
      operationId: showRoleBinding
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Role Binding Name
        explode: false
        in: path
        name: role_binding_name
        required: true
        schema:
          description: Role Binding Name
          title: Role Binding Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleBindingShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Role Binding
      tags:
      - ske.v1.RoleBindingsApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showRoleBinding
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/roles:
    delete:
      description: delete a role
      operationId: deleteRole
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Role
      tags:
      - ske.v1.RolesApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteRole
    get:
      description: get role list
      operationId: listRoles
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Roles
      tags:
      - ske.v1.RolesApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listRoles
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/roles/{role_name}:
    get:
      description: show a role
      operationId: showRole
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Role Name
        explode: false
        in: path
        name: role_name
        required: true
        schema:
          description: Role Name
          title: Role Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Role
      tags:
      - ske.v1.RolesApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showRole
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/secrets:
    delete:
      description: delete a secret
      operationId: deleteSecret
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Names
        explode: true
        in: query
        name: name
        required: true
        schema:
          $ref: '#/components/schemas/Name_1'
        style: form
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Secret
      tags:
      - ske.v1.SecretsApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteSecret
    get:
      description: get secret list
      operationId: listSecrets
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Secret Name
        explode: true
        in: query
        name: name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: System Object
        explode: true
        in: query
        name: system_object
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Secrets
      tags:
      - ske.v1.SecretsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listSecrets
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/secrets/{secret_name}:
    get:
      description: show a secret
      operationId: showSecret
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Secret Name
        explode: false
        in: path
        name: secret_name
        required: true
        schema:
          description: Secret Name
          title: Secret Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Secret
      tags:
      - ske.v1.SecretsApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showSecret
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/services:
    delete:
      description: delete a service
      operationId: deleteService
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Service
      tags:
      - ske.v1.ServicesApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteService
    get:
      description: get service list
      operationId: listServices
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubernetesServiceListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Services
      tags:
      - ske.v1.ServicesApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listServices
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/services/{service_name}:
    get:
      description: show a service
      operationId: showService
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Service Name
        explode: false
        in: path
        name: service_name
        required: true
        schema:
          description: Service Name
          title: Service Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubernetesServiceShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Service
      tags:
      - ske.v1.ServicesApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showService
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/statefulsets:
    delete:
      description: delete a stateful set
      operationId: deleteStatefulSet
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Names
        explode: true
        in: query
        name: name
        required: true
        schema:
          $ref: '#/components/schemas/Name_1'
        style: form
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete Stateful Set
      tags:
      - ske.v1.StatefulSetsApi
      x-action-id: ske:DeleteObject
      x-api-access-level: DELETE
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: deleteStatefulSet
    get:
      description: get cluster role binding list
      operationId: listStatefulSets
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Stateful Set Name
        explode: true
        in: query
        name: name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: System Object
        explode: true
        in: query
        name: system_object
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatefulSetListResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Stateful Sets
      tags:
      - ske.v1.StatefulSetsApi
      x-action-id: ske:ListObjects
      x-api-access-level: LIST
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: listStatefulSets
  /v1/clusters/{cluster_id}/namespaces/{namespace_name}/statefulsets/{stateful_set_name}:
    get:
      description: show a stateful set
      operationId: showStatefulSet
      parameters:
      - description: Cluster ID
        explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          description: Cluster ID
          title: Cluster Id
          type: string
        style: simple
      - description: Namespace Name
        explode: false
        in: path
        name: namespace_name
        required: true
        schema:
          description: Namespace Name
          title: Namespace Name
          type: string
        style: simple
      - description: Stateful Set Name
        explode: false
        in: path
        name: stateful_set_name
        required: true
        schema:
          description: Stateful Set Name
          title: Stateful Set Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatefulSetShowResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show Stateful Set
      tags:
      - ske.v1.StatefulSetsApi
      x-action-id: ske:ShowObject
      x-api-access-level: READ
      x-api-created-date: "20240805"
      x-api-modified-date: "20250227"
      x-api-scope:
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: "20250701"
      x-operation-id: showStatefulSet
  /v1/clusters/{cluster_id}/nodepools:
    get:
      description: get nodepools list
      operationId: listNodepools
      parameters:
      - description: Cluster ID
[...]
