openapi: 3.1.0
info:
  description: SCP IAM Service
  title: SCP IAM Service
  version: 0.0.1.dev2450
servers:
- url: https://scp-iam-a.kr-west1.dev2.samsungsdscloud.com
tags:
- description: Access Keys API
  name: iam.v1.AccessKeysApi
- description: Accounts API
  name: iam.v1.AccountsApi
- description: action-definitions API
  name: iam.v1.ActionDefinitionsApi
- description: Authenticate OTP API
  name: iam.v1.AuthenticateOTPApi
- description: authorize API
  name: iam.v1.AuthorizeApi
- description: CheckWeakPasswords API
  name: iam.v1.CheckWeakPasswordsApi
- description: CheckWellKnownPasswords API
  name: iam.v1.CheckWellKnownPasswordsApi
- description: Create OTP API
  name: iam.v1.CreateOTPApi
- description: Endpoints API
  name: iam.v1.EndpointsApi
- description: Groups API
  name: iam.v1.GroupsApi
- description: Nations API
  name: iam.v1.NationsApi
- description: Permission API
  name: iam.v1.PermissionApi
- description: Polices API
  name: iam.v1.PoliciesApi
- description: PrivateInfoForms API
  name: iam.v1.PrivateInfoFormsApi
- description: Roles API
  name: iam.v1.RolesApi
- description: Storage Keys API
  name: iam.v1.StorageKeysApi
- description: Terms API
  name: iam.v1.TermsApi
- description: Timezones API
  name: iam.v1.TimezonesApi
- description: Users API
  name: iam.v1.UsersApi
- description: Validate OTP API
  name: iam.v1.ValidateOTPApi
- description: WithdrawalCodes API
  name: iam.v1.WithdrawalCodesApi
- description: Administrators API
  name: iam.v1.AdministratorsApi
- description: Managers API
  name: iam.v1.ManagersApi
- description: Batches API
  name: iam.v1.BatchesApi
- description: Keycloak Users API
  name: iam.v1.KeycloakUsersApi
- description: Captcha API
  name: iam.v1.CaptchaApi
- description: Securities API
  name: iam.v1.SecuritiesApi
- description: Admin Groups API
  name: iam.v1.AdminGroupsApi
- description: Manager Groups API
  name: iam.v1.ManagerGroupsApi
- description: Admin Polices API
  name: iam.v1.AdminPoliciesApi
- description: Manager Polices API
  name: iam.v1.ManagerPoliciesApi
- description: Policy Condition APIs
  name: iam.v1.ConditionsAPIs
- description: SamlProviders API
  name: iam.v1.SamlProvidersApi
- description: Sts API
  name: sts.v1.StsApi
- description: 리소스 기반 정책 API
  name: iam.v1.ResourcePoliciesApi
- description: Internal Accounts API
  name: iam.v1.InternalAccountsApi
paths:
  /v1/access-keys:
    get:
      description: List access keys
      operationId: accessKeyList
      parameters:
      - description: with count
        example: "true"
        explode: true
        in: query
        name: with_count
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: limit
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - description: marker
        example: 607e0938521643b5b4b266f343fae693
        explode: true
        in: query
        name: marker
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Account Id
        example: f39c460fade34fecb05ede8f904b24b7
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Access key type
        example: PERMANENT
        explode: true
        in: query
        name: access_key_type
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Parent access key ID
        example: f39c460fade34fecb05ede8f904b24b7
        explode: true
        in: query
        name: parent_access_key_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccessKeyResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List access keys
      tags:
      - iam.v1.AccessKeysApi
      x-action-id: iam:ListAccessKey
      x-api-access-level: LIST
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: access-key_list
      x-not-before: 2026-02-23
      x-operation-id: accessKeyList
      x-resource: AccessKey
    post:
      description: Create an access key
      operationId: accessKeyCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeyCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeyResponse'
          description: Created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Create an access key
      tags:
      - iam.v1.AccessKeysApi
      x-action-id: iam:CreateAccessKey
      x-api-access-level: CREATE
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: access-key_create
      x-not-before: 2026-02-23
      x-operation-id: accessKeyCreate
      x-resource: AccessKey
  /v1/access-keys/bulk:
    delete:
      description: Remove the access keys
      operationId: accessKeyDeleteBulk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAccessKeyRemoveRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccessKeyResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Remove the access keys
      tags:
      - iam.v1.AccessKeysApi
      x-action-id: iam:DeleteBulkAccessKey
      x-api-access-level: DELETE
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: accessKeyDeleteBulk
      x-resource: AccessKey
  /v1/access-keys/send-otp:
    post:
      description: Send Temporary Access Key OTP
      operationId: accessKeySendTemporaryOtp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeyOtpRequest'
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Send Temporary Access Key OTP
      tags:
      - iam.v1.AccessKeysApi
      x-action-id: iam:SendTemporaryOtpAccessKey
      x-api-access-level: CREATE
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: access-key_send_otp
      x-not-before: 2026-02-23
      x-operation-id: accessKeySendTemporaryOtp
      x-resource: AccessKey
  /v1/access-keys/{access_key_id}:
    delete:
      description: Remove the access key
      operationId: accessKeyDelete
      parameters:
      - description: Access key ID
        example: f39c460fade34fecb05ede8f904b24b7
        explode: false
        in: path
        name: access_key_id
        required: true
        schema:
          description: Access key ID
          example: f39c460fade34fecb05ede8f904b24b7
          title: Access Key Id
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Remove the access key
      tags:
      - iam.v1.AccessKeysApi
      x-action-id: iam:DeleteAccessKey
      x-api-access-level: DELETE
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: accessKeyDelete
      x-resource: AccessKey
    get:
      description: Get an access key
      operationId: accessKeyShow
      parameters:
      - description: Access key ID
        example: f39c460fade34fecb05ede8f904b24b7
        explode: false
        in: path
        name: access_key_id
        required: true
        schema:
          description: Access key ID
          example: f39c460fade34fecb05ede8f904b24b7
          title: Access Key Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeyResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ValidationErrorModel'
                type: array
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Get an access key
      tags:
      - iam.v1.AccessKeysApi
      x-action-id: iam:ShowAccessKey
      x-api-access-level: READ
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: access-key_show
      x-not-before: 2026-02-23
      x-operation-id: accessKeyShow
      x-resource: AccessKey
    put:
      description: Set or update an access key
      operationId: accessKeySet
      parameters:
      - description: Access key ID
        example: f39c460fade34fecb05ede8f904b24b7
        explode: false
        in: path
        name: access_key_id
        required: true
        schema:
          description: Access key ID
          example: f39c460fade34fecb05ede8f904b24b7
          title: Access Key Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeyUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeyResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ValidationErrorModel'
                type: array
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Set an access key
      tags:
      - iam.v1.AccessKeysApi
      x-action-id: iam:SetAccessKey
      x-api-access-level: UPDATE
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: access-key_set
      x-not-before: 2026-02-23
      x-operation-id: accessKeySet
      x-resource: AccessKey
  /v1/endpoints:
    get:
      description: Get endpoint list
      operationId: listEndpoints
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEndpointsResponse'
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Get endpoint list
      tags:
      - iam.v1.EndpointsApi
      x-action-id: iam:ListEndpoints
      x-api-access-level: LIST
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: listEndpoints
      x-resource: Endpoint
  /v1/groups:
    get:
      description: List Groups
      operationId: listGroup
      parameters:
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Group 이름
        example: TestGroup
        explode: true
        in: query
        name: name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Group Types
        example: "USER_DEFINED,DEFAULT"
        explode: true
        in: query
        name: types
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Group IDs
        example: "629114aa440b456797cc5da5d3d2ef5d,f2b62d3cba5f42a796783266507ce765"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Group Member 존재 여부
        example: "false"
        explode: true
        in: query
        name: has_member
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Group Role 존재 여부
        example: "false"
        explode: true
        in: query
        name: has_role
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Group 완결 여부
        example: "false"
        explode: true
        in: query
        name: is_completed
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Group 생성자 성, 이름"
        example: Kim Samsung
        explode: true
        in: query
        name: creator_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Group 생성자 Email
        example: samsung.kim@samsung.com
        explode: true
        in: query
        name: creator_email
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Group 수정자 성, 이름"
        example: Kim Samsung
        explode: true
        in: query
        name: modifier_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Group 수정자 Email
        example: samsung.kim@samsung.com
        explode: true
        in: query
        name: modifier_email
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 제외할 사용자 ID
        example: f39c460fade34fecb05ede8f904b24b7
        explode: true
        in: query
        name: exclude_user_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 제외할 정책 ID
        example: 37f2e31ff86b415698d7e8eeafab445d
        explode: true
        in: query
        name: exclude_policy_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupPageResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List Groups
      tags:
      - iam.v1.GroupsApi
      x-action-id: iam:ListGroups
      x-api-access-level: LIST
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: group_list
      x-not-before: 2026-02-23
      x-operation-id: listGroup
      x-resource: Group
    post:
      description: Create a group
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupShowResponse'
          description: Created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "409":
          description: Conflict
      security:
      - X-Auth-Token: []
      summary: Create a group
      tags:
      - iam.v1.GroupsApi
      x-action-id: iam:CreateGroup
      x-api-access-level: CREATE
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: group_create
      x-not-before: 2026-02-23
      x-operation-id: createGroup
      x-resource: Group
  /v1/groups/{group_id}:
    delete:
      description: Remove the Group
      operationId: deleteGroup
      parameters:
      - description: Group ID
        example: a946662dc4314dac93da413a32457459
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          description: Group ID
          example: a946662dc4314dac93da413a32457459
          title: Group Id
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ValidationErrorModel'
                type: array
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Remove the Group
      tags:
      - iam.v1.GroupsApi
      x-action-id: iam:DeleteGroup
      x-api-access-level: DELETE
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: group_delete
      x-not-before: 2026-02-23
      x-operation-id: deleteGroup
      x-resource: Group
    get:
      description: Get a Group
      operationId: showGroup
      parameters:
      - description: Group ID
        example: a946662dc4314dac93da413a32457459
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          description: Group ID
          example: a946662dc4314dac93da413a32457459
          title: Group Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupShowResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ValidationErrorModel'
                type: array
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Get a Group
      tags:
      - iam.v1.GroupsApi
      x-action-id: iam:ShowGroup
      x-api-access-level: READ
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: group_show
      x-not-before: 2026-02-23
      x-operation-id: showGroup
      x-resource: Group
    put:
      description: Modify a Group
      operationId: setGroup
      parameters:
      - description: Group ID
        example: a946662dc4314dac93da413a32457459
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          description: Group ID
          example: a946662dc4314dac93da413a32457459
          title: Group Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupSetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupShowResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "409":
          description: Conflict
      security:
      - X-Auth-Token: []
      summary: Modify a Group
      tags:
      - iam.v1.GroupsApi
      x-action-id: iam:SetGroup
      x-api-access-level: UPDATE
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: group_set
      x-not-before: 2026-02-23
      x-operation-id: setGroup
      x-resource: Group
  /v1/groups/{group_id}/members:
    get:
      description: Group Member list
      operationId: listGroupMember
      parameters:
      - description: Group ID
        example: a946662dc4314dac93da413a32457459
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          description: Group ID
          example: a946662dc4314dac93da413a32457459
          title: Group Id
          type: string
        style: simple
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Group Member 성, 이름"
        example: Kim Samsung
        explode: true
        in: query
        name: user_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Group Member Email
        example: samsung.kim@samsung.com
        explode: true
        in: query
        name: user_email
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Group Member 생성자 성, 이름"
        example: Kim Samsung
        explode: true
        in: query
        name: creator_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Group Member 생성자 Email
        example: samsung.kim@samsung.com
        explode: true
        in: query
        name: creator_email
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMemberPageResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Group Member list
      tags:
      - iam.v1.GroupsApi
      x-action-id: iam:ListGroupMembers
      x-api-access-level: LIST
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: group_user_list
      x-not-before: 2026-02-23
      x-operation-id: listGroupMember
      x-resource: Group
    post:
      description: Add a user to a group
      operationId: addGroupMember
      parameters:
      - description: Group ID
        example: a946662dc4314dac93da413a32457459
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          description: Group ID
          example: a946662dc4314dac93da413a32457459
          title: Group Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMemberCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMemberCreateResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Add a user to a group
      tags:
      - iam.v1.GroupsApi
      x-action-id: iam:AddGroupMember
      x-api-access-level: UPDATE
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: group_user_add
      x-not-before: 2026-02-23
      x-operation-id: addGroupMember
      x-resource: Group
  /v1/groups/{group_id}/members/{user_id}:
    delete:
      description: Remove a User from a Group
      operationId: removeGroupMember
      parameters:
      - description: Group ID
        example: a946662dc4314dac93da413a32457459
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          description: Group ID
          example: a946662dc4314dac93da413a32457459
          title: Group Id
          type: string
        style: simple
      - description: User ID
        example: ef50cdc207f05f6fb8f20219f229ed1f
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          description: User ID
          example: ef50cdc207f05f6fb8f20219f229ed1f
          title: User Id
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ValidationErrorModel'
                type: array
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Remove a User from a Group
      tags:
      - iam.v1.GroupsApi
      x-action-id: iam:RemoveGroupMember
      x-api-access-level: DELETE
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: group_user_remove
      x-not-before: 2026-02-23
      x-operation-id: removeGroupMember
      x-resource: Group
  /v1/groups/{group_id}/policy-bindings:
    get:
      description: Show group policy
      operationId: listGroupPolicyBinding
      parameters:
      - description: Group ID
        example: a946662dc4314dac93da413a32457459
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          description: Group ID
          example: a946662dc4314dac93da413a32457459
          title: Group Id
          type: string
        style: simple
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Policy Id
        example: 37f2e31ff86b415698d7e8eeafab445d
        explode: true
        in: query
        name: policy_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Policy Name
        example: ViewerAccess
        explode: true
        in: query
        name: policy_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Policy Type List
        example:
        - SYSTEM_MANAGED
        - USER_DEFINED
        explode: true
        in: query
        name: policy_type
        required: false
        schema:
          $ref: '#/components/schemas/Policy_Type'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupPolicyPageResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show group policy
      tags:
      - iam.v1.GroupsApi
      x-action-id: iam:ListGroupPolicyBindings
      x-api-access-level: LIST
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: group_policy_show
      x-not-before: 2026-02-23
      x-operation-id: listGroupPolicyBinding
      x-resource: Group
    post:
      description: Assign policies to the group
      operationId: addGroupPolicyBinding
      parameters:
      - description: Group ID
        example: a946662dc4314dac93da413a32457459
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          description: Group ID
          example: a946662dc4314dac93da413a32457459
          title: Group Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupPolicyBindingRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupPolicyResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Assign policies to the group
      tags:
      - iam.v1.GroupsApi
      x-action-id: iam:AddGroupPolicyBinding
      x-api-access-level: PERMISSION
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: group_policy_create
      x-not-before: 2026-02-23
      x-operation-id: addGroupPolicyBinding
      x-resource: Policy
  /v1/groups/{group_id}/policy-bindings/{policy_id}:
    delete:
      description: Remove policy assignment from group
      operationId: removeGroupPolicyBinding
      parameters:
      - description: Group ID
        example: a946662dc4314dac93da413a32457459
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          description: Group ID
          example: a946662dc4314dac93da413a32457459
          title: Group Id
          type: string
        style: simple
      - description: Policy ID
        example: 37f2e31ff86b415698d7e8eeafab445d
        explode: false
        in: path
        name: policy_id
        required: true
        schema:
          description: Policy ID
          example: 37f2e31ff86b415698d7e8eeafab445d
          title: Policy Id
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ValidationErrorModel'
                type: array
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Remove policy assignment from group
      tags:
      - iam.v1.GroupsApi
      x-action-id: iam:RemoveGroupPolicyBinding
      x-api-access-level: PERMISSION
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: group_policy_delete
      x-not-before: 2026-02-23
      x-operation-id: removeGroupPolicyBinding
      x-resource: Policy
  /v1/policies:
    get:
      description: Get policy list
      operationId: listPolicy
      parameters:
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Policy ID
        example: 37f2e31ff86b415698d7e8eeafab445d
        explode: true
        in: query
        name: id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Policy Name
        example: ViewerAccess
        explode: true
        in: query
        name: policy_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Policy Type
        example: SYSTEM_MANAGED
        explode: true
        in: query
        name: policy_type
        required: false
        schema:
          $ref: '#/components/schemas/Policy_Type_1'
        style: form
      - description: Service Type
        example: scp-iam
        explode: true
        in: query
        name: service_type
        required: false
        schema:
          $ref: '#/components/schemas/Service_Type'
        style: form
      - description: "Policy 생성자 성, 이름"
        example: test1
        explode: true
        in: query
        name: creator_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Policy 생성자 Email
        example: test@test.com
        explode: true
        in: query
        name: creator_email
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Policy 수정자 성, 이름"
        example: test1
        explode: true
        in: query
        name: modifier_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Policy 수정자 Email
        example: test@test.com
        explode: true
        in: query
        name: modifier_email
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 제외할 Group ID
        example: a946662dc4314dac93da413a32457459
        explode: true
        in: query
        name: exclude_group_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 제외할 User ID
        explode: true
        in: query
        name: exclude_user_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyPageResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - X-Auth-Token: []
      summary: Get policy list
      tags:
      - iam.v1.PoliciesApi
      x-action-id: iam:ListPolicies
      x-api-access-level: LIST
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: policy_list
      x-not-before: 2026-02-23
      x-operation-id: listPolicy
      x-resource: Policy
    post:
      description: Create a policy
      operationId: createPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyShowResponse'
          description: Created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "409":
          description: Conflict
      security:
      - X-Auth-Token: []
      summary: Create a policy
      tags:
      - iam.v1.PoliciesApi
      x-action-id: iam:CreatePolicy
      x-api-access-level: PERMISSION
      x-api-created-date: "20250227"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: policy_create
      x-not-before: 2026-02-23
      x-operation-id: createPolicy
      x-resource: Policy
  /v1/policies/bulk:
    delete:
      description: Remove policies
      operationId: deletePolicies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPolicyRemoveRequest'
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Remove policies
      tags:
      - iam.v1.PoliciesApi
      x-action-id: iam:DeleteBulkPolicy
      x-api-access-level: PERMISSION
      x-api-created-date: "20250227"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: policy_bulk_delete
      x-not-before: 2026-02-23
      x-operation-id: deletePolicies
      x-resource: Policy
  /v1/policies/list:
    post:
      description: Query policy list
      operationId: queryPolicy
      parameters:
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Policy ID
        example: 37f2e31ff86b415698d7e8eeafab445d
        explode: true
        in: query
        name: id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Policy Name
        example: ViewerAccess
        explode: true
        in: query
        name: policy_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Policy Type
        example: SYSTEM_MANAGED
        explode: true
        in: query
        name: policy_type
        required: false
        schema:
          $ref: '#/components/schemas/Policy_Type_2'
        style: form
      - description: Service Type
        example: scp-iam
        explode: true
        in: query
        name: service_type
        required: false
        schema:
          $ref: '#/components/schemas/Service_Type_1'
        style: form
      - description: "Policy 생성자 성, 이름"
        example: test1
        explode: true
        in: query
        name: creator_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Policy 생성자 Email
        example: test@test.com
        explode: true
        in: query
        name: creator_email
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Policy 수정자 성, 이름"
        example: test1
        explode: true
        in: query
        name: modifier_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Policy 수정자 Email
        example: test@test.com
        explode: true
        in: query
        name: modifier_email
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 제외할 Group ID
        example: a946662dc4314dac93da413a32457459
        explode: true
        in: query
        name: exclude_group_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 제외할 User ID
        explode: true
        in: query
        name: exclude_user_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyQueryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyPageResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - X-Auth-Token: []
      summary: Query policy list
      tags:
      - iam.v1.PoliciesApi
      x-action-id: iam:ListPolicies
      x-api-access-level: LIST
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: policy_query
      x-not-before: 2026-02-23
      x-operation-id: queryPolicy
      x-resource: Policy
  /v1/policies/{policy_id}:
    delete:
      description: Delete the policy
      operationId: deletePolicy
      parameters:
      - description: Policy ID
        example: 37f2e31ff86b415698d7e8eeafab445d
        explode: false
        in: path
        name: policy_id
        required: true
        schema:
          description: Policy ID
          example: 37f2e31ff86b415698d7e8eeafab445d
          title: Policy Id
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ValidationErrorModel'
                type: array
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete the policy
      tags:
      - iam.v1.PoliciesApi
      x-action-id: iam:DeletePolicy
      x-api-access-level: PERMISSION
      x-api-created-date: "20250227"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: policy_delete
      x-not-before: 2026-02-23
      x-operation-id: deletePolicy
      x-resource: Policy
    get:
      description: Show the policy
      operationId: showPolicy
      parameters:
      - description: Policy ID
        example: 37f2e31ff86b415698d7e8eeafab445d
        explode: false
        in: path
        name: policy_id
        required: true
        schema:
          description: Policy ID
          example: 37f2e31ff86b415698d7e8eeafab445d
          title: Policy Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyShowResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ValidationErrorModel'
                type: array
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show the policy
      tags:
      - iam.v1.PoliciesApi
      x-action-id: iam:ShowPolicy
      x-api-access-level: PERMISSION
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: policy_show
      x-not-before: 2026-02-23
      x-operation-id: showPolicy
      x-resource: Policy
    put:
      description: Set the policy
      operationId: setPolicy
      parameters:
      - description: Policy ID
        example: 37f2e31ff86b415698d7e8eeafab445d
        explode: false
        in: path
        name: policy_id
        required: true
        schema:
          description: Policy ID
          example: 37f2e31ff86b415698d7e8eeafab445d
          title: Policy Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicySetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyShowResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          description: Conflict
      security:
      - X-Auth-Token: []
      summary: Set the policy
      tags:
      - iam.v1.PoliciesApi
      x-action-id: iam:SetPolicy
      x-api-access-level: PERMISSION
      x-api-created-date: "20250227"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: policy_set
      x-not-before: 2026-02-23
      x-operation-id: setPolicy
      x-resource: Policy
  /v1/policies/{policy_id}/bindings:
    get:
      description: Get a specific policy binding list
      operationId: listPolicyBinding
      parameters:
      - description: Policy ID
        example: 37f2e31ff86b415698d7e8eeafab445d
        explode: false
        in: path
        name: policy_id
        required: true
        schema:
          description: Policy ID
          example: 37f2e31ff86b415698d7e8eeafab445d
          title: Policy Id
          type: string
        style: simple
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Identity ID
        example: f39c460fade34fecb05ede8f904b24b7
        explode: true
        in: query
        name: identity_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Identity Type
        example: GROUP
        explode: true
        in: query
        name: identity_type
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Name
        example: TestGroup
        explode: true
        in: query
        name: name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyBindingPageResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Get a specific policy binding list
      tags:
      - iam.v1.PoliciesApi
      x-action-id: iam:ListPolicyBindings
      x-api-access-level: LIST
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: policy_binding_list
      x-not-before: 2026-02-23
      x-operation-id: listPolicyBinding
      x-resource: PolicyBinding
    put:
      description: Set the policy group binding
      operationId: setPolicyGroupBinding
      parameters:
      - description: Policy ID
        example: 37f2e31ff86b415698d7e8eeafab445d
        explode: false
        in: path
        name: policy_id
        required: true
        schema:
          description: Policy ID
          example: 37f2e31ff86b415698d7e8eeafab445d
          title: Policy Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyBindingSetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyBindingPageResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Set the policy group binding
      tags:
      - iam.v1.PoliciesApi
      x-action-id: iam:SetPolicyBinding
      x-api-access-level: PERMISSION
      x-api-created-date: "20241001"
      x-api-modified-date: "20250227"
      x-api-scope:
      - OPENAPI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: setPolicyGroupBinding
      x-resource: Policy
  /v1/resource-policies/{srn}:
    delete:
      description: Delete the resource based policy
      operationId: deleteResourcePolicy
      parameters:
      - description: 삼성 리소스 자원명
        example: c3JuOmRldjI6OjEyMzRhYjU2N2NkNjQ3NjllOGY5ZzQ5MGhpMzA0ODkxOmtyLXdlc3QxOjp2aXJ0dWFsc2VydmVyOnZpcnR1YWwtc2VydmVyL3o5NWZhNTYxLTExdTMtNGZydy05NjJnLTNiMTIzMTIzYzQ5Ng==
        explode: false
        in: path
        name: srn
        required: true
        schema:
          description: 삼성 리소스 자원명
          example: c3JuOmRldjI6OjEyMzRhYjU2N2NkNjQ3NjllOGY5ZzQ5MGhpMzA0ODkxOmtyLXdlc3QxOjp2aXJ0dWFsc2VydmVyOnZpcnR1YWwtc2VydmVyL3o5NWZhNTYxLTExdTMtNGZydy05NjJnLTNiMTIzMTIzYzQ5Ng==
          title: Srn
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ValidationErrorModel'
                type: array
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete the resource based policy
      tags:
      - iam.v1.ResourcePoliciesApi
      x-action-id: iam:DeleteResourcePolicy
      x-api-access-level: PERMISSION
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: resource_policy_delete
      x-not-before: 2026-02-23
      x-operation-id: deleteResourcePolicy
      x-resource: Policy
    get:
      description: Show the resource based policy
      operationId: showResourcePolicy
      parameters:
      - description: 삼성 리소스 자원명
        example: c3JuOmRldjI6OjEyMzRhYjU2N2NkNjQ3NjllOGY5ZzQ5MGhpMzA0ODkxOmtyLXdlc3QxOjp2aXJ0dWFsc2VydmVyOnZpcnR1YWwtc2VydmVyL3o5NWZhNTYxLTExdTMtNGZydy05NjJnLTNiMTIzMTIzYzQ5Ng==
        explode: false
        in: path
        name: srn
        required: true
        schema:
          description: 삼성 리소스 자원명
          example: c3JuOmRldjI6OjEyMzRhYjU2N2NkNjQ3NjllOGY5ZzQ5MGhpMzA0ODkxOmtyLXdlc3QxOjp2aXJ0dWFsc2VydmVyOnZpcnR1YWwtc2VydmVyL3o5NWZhNTYxLTExdTMtNGZydy05NjJnLTNiMTIzMTIzYzQ5Ng==
          title: Srn
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePolicyShowResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ValidationErrorModel'
                type: array
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Show the resource based policy
      tags:
      - iam.v1.ResourcePoliciesApi
      x-action-id: iam:ShowResourcePolicy
      x-api-access-level: PERMISSION
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: resource_policy_show
      x-not-before: 2026-02-23
      x-operation-id: showResourcePolicy
      x-resource: Policy
    put:
      description: Set the resource based policy
      operationId: setResourcePolicy
      parameters:
      - description: 삼성 리소스 자원명
        example: c3JuOmRldjI6OjEyMzRhYjU2N2NkNjQ3NjllOGY5ZzQ5MGhpMzA0ODkxOmtyLXdlc3QxOjp2aXJ0dWFsc2VydmVyOnZpcnR1YWwtc2VydmVyL3o5NWZhNTYxLTExdTMtNGZydy05NjJnLTNiMTIzMTIzYzQ5Ng==
        explode: false
        in: path
        name: srn
        required: true
        schema:
          description: 삼성 리소스 자원명
          example: c3JuOmRldjI6OjEyMzRhYjU2N2NkNjQ3NjllOGY5ZzQ5MGhpMzA0ODkxOmtyLXdlc3QxOjp2aXJ0dWFsc2VydmVyOnZpcnR1YWwtc2VydmVyL3o5NWZhNTYxLTExdTMtNGZydy05NjJnLTNiMTIzMTIzYzQ5Ng==
          title: Srn
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcePolicySetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePolicyShowResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "409":
          description: Conflict
      security:
      - X-Auth-Token: []
      summary: Set the resource based policy
      tags:
      - iam.v1.ResourcePoliciesApi
      x-action-id: iam:SetResourcePolicy
      x-api-access-level: PERMISSION
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: resource_policy_set
      x-not-before: 2026-02-23
      x-operation-id: setResourcePolicy
      x-resource: Policy
  /v1/roles:
    get:
      description: Get role list
      operationId: listRole
      parameters:
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 역할명
        explode: true
        in: query
        name: name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 역할 유형
        explode: true
        in: query
        name: types
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 역할이 속한 계정의 ID
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 예외 대상 정책
        explode: true
        in: query
        name: exclude_policy_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolePageResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Get role list
      tags:
      - iam.v1.RolesApi
      x-action-id: iam:ListRoles
      x-api-access-level: LIST
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: listRole
      x-resource: Role
    post:
      description: 'Create role '
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCreateRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleShowResponse'
          description: Accepted
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          description: Conflict
      security:
      - X-Auth-Token: []
      summary: Create role
      tags:
      - iam.v1.RolesApi
      x-action-id: iam:CreateRole
      x-api-access-level: Create
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: createRole
      x-resource: Role
  /v1/roles/bulk:
    delete:
      description: Delete bulk role
      operationId: deleteBulkRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleBulkDeleteRequest'
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - X-Auth-Token: []
      summary: Delete bulk role
      tags:
      - iam.v1.RolesApi
      x-action-id: iam:DeleteBulkRole
      x-api-access-level: DELETE
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: deleteBulkRole
      x-resource: Role
  /v1/roles/{role_id}:
    delete:
      description: Delete role
      operationId: deleteRole
      parameters:
      - description: 역할 ID
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          description: 역할 ID
          title: Role Id
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Delete role
      tags:
      - iam.v1.RolesApi
      x-action-id: iam:DeleteRole
      x-api-access-level: DELETE
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: deleteRole
      x-resource: Role
    get:
      description: Get role
      operationId: showRole
      parameters:
      - description: 역할 ID
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          description: 역할 ID
          title: Role Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleShowResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Get role
      tags:
      - iam.v1.RolesApi
      x-action-id: iam:ShowRole
      x-api-access-level: READ
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: showRole
      x-resource: Role
    put:
      description: Set role
      operationId: setRole
      parameters:
      - description: 역할 ID
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          description: 역할 ID
          title: Role Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleSetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleShowResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Set role
      tags:
      - iam.v1.RolesApi
      x-action-id: iam:SetRole
      x-api-access-level: UPDATE
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: setRole
      x-resource: Role
  /v1/roles/{role_id}/policy-bindings:
    delete:
      description: Detach policies to Role
      operationId: removeBulkRolePolicyBindings
      parameters:
      - description: 역할 ID
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          description: 역할 ID
          title: Role Id
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Detach policies to Role
      tags:
      - iam.v1.RolesApi
      x-action-id: iam:RemoveBulkRolePolicyBinding
      x-api-access-level: PERMISSION
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: removeBulkRolePolicyBindings
      x-resource: Role
    get:
      description: Get Role Policy-Binding list
      operationId: listRolePolicyBindings
      parameters:
      - description: 역할 ID
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          description: 역할 ID
          title: Role Id
          type: string
        style: simple
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 역할에 연결된 정책 이름
        explode: true
        in: query
        name: policy_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolePolicyBindingResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Get Role Policy-Binding list
      tags:
      - iam.v1.RolesApi
      x-action-id: iam:ListRolePolicyBindings
      x-api-access-level: LIST
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: listRolePolicyBindings
      x-resource: Role
    post:
      description: Attach policies to Role
      operationId: addRolePolicyBindings
      parameters:
      - description: 역할 ID
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          description: 역할 ID
          title: Role Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolePolicyBindingRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolePolicyBindingResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Attach policies to Role
      tags:
      - iam.v1.RolesApi
      x-action-id: iam:AddRolePolicyBinding
      x-api-access-level: PERMISSION
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: addRolePolicyBindings
      x-resource: Role
  /v1/roles/{role_id}/policy-bindings/{policy_id}:
    delete:
      description: Detach policy to Role
      operationId: removeRolePolicyBinding
      parameters:
      - description: 역할 ID
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          description: 역할 ID
          title: Role Id
          type: string
        style: simple
      - description: 역할에 연결된 정책 ID
        explode: false
        in: path
        name: policy_id
        required: true
        schema:
          description: 역할에 연결된 정책 ID
          title: Policy Id
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Detach policy to Role
      tags:
      - iam.v1.RolesApi
      x-action-id: iam:RemoveRolePolicyBinding
      x-api-access-level: DELETE
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: removeRolePolicyBinding
      x-resource: Role
  /v1/roles/{role_id}/trust-policy:
    put:
      description: Set role trust policy
      operationId: setRoleTrustPolicy
      parameters:
      - description: 역할 ID
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          description: 역할 ID
          title: Role Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleTrustPolicyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleShowResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Set role trust policy
      tags:
      - iam.v1.RolesApi
      x-action-id: iam:SetRoleTrustPolicy
      x-api-access-level: UPDATE
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: setRoleTrustPolicy
      x-resource: RoleTrustPolicy
  /v1/saml-providers:
    get:
      description: List saml providers
      operationId: listSamlProvider
      parameters:
      - description: size
        example: 20
        explode: true
        in: query
        name: size
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: page
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: sort
        example: created_at:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 자격증명공급자 유형
        explode: true
        in: query
        name: federation_type
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 자격증명공급자 이름
        explode: true
        in: query
        name: saml_provider_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSamlProviderResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: List saml providers
      tags:
      - iam.v1.SamlProvidersApi
      x-action-id: iam:ListSamlProviders
      x-api-access-level: LIST
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: listSamlProvider
      x-resource: SamlProvider
    post:
      description: Create a saml provider
      operationId: createSamlProvider
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SamlProviderCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlProviderCreateResponse'
          description: Created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Create a saml provider
      tags:
      - iam.v1.SamlProvidersApi
      x-action-id: iam:CreateSamlProvider
      x-api-access-level: CREATE
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: createSamlProvider
      x-resource: SamlProvider
  /v1/saml-providers/bulk:
    delete:
      description: Remove saml providers
      operationId: deleteSamlProviders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListSamlProviderRemoveRequest'
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Remove saml providers
      tags:
      - iam.v1.SamlProvidersApi
      x-action-id: iam:DeleteSamlProviders
      x-api-access-level: PERMISSION
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-cli: saml_provider_bulk_delete
      x-not-before: 2026-02-23
      x-operation-id: deleteSamlProviders
      x-resource: SamlProvider
  /v1/saml-providers/{saml_provider_id}:
    get:
      description: Get saml provider information
      operationId: showSamlProvider
      parameters:
      - description: 자격증명공급자 ID
        explode: false
        in: path
        name: saml_provider_id
        required: true
        schema:
          description: 자격증명공급자 ID
          title: Saml Provider Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlProviderDetailResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Get saml provider information
      tags:
      - iam.v1.SamlProvidersApi
      x-action-id: iam:ShowSamlProvider
      x-api-access-level: READ
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: showSamlProvider
      x-resource: SamlProvider
    put:
      description: Update saml provider information
      operationId: setSamlProvider
      parameters:
      - description: 자격증명공급자 ID
        explode: false
        in: path
        name: saml_provider_id
        required: true
        schema:
          description: 자격증명공급자 ID
          title: Saml Provider Id
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SamlProviderUpdateRequestData'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlProviderDetailResponse'
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - X-Auth-Token: []
      summary: Update saml provider information
      tags:
      - iam.v1.SamlProvidersApi
      x-action-id: iam:SetSamlProvider
      x-api-access-level: UPDATE
      x-api-created-date: "20250701"
      x-api-modified-date: "20250701"
      x-api-scope:
      - OPENAPI
      - CLI
      - CONSOLE
      x-api-status: CURRENT
      x-api-version: "1.0"
      x-not-before: 2026-02-23
      x-operation-id: setSamlProvider
      x-resource: SamlProvider
components:
  schemas:
    AccessKey:
      example:
        expiration_timestamp: 9999-12-31T23:59:59Z
        created_at: 2024-05-17T00:23:17Z
        description: description
        created_by: 90dddfc2b1e04edba54ba2b41539a9ac
        is_enabled: "true"
        secret_key: c4150149-f7c6-46bc-9faa-d2b9d20e0899
        account_id: f39c460fade34fecb05ede8f904b24b7
        parent_access_key_id: parent_access_key_id
        access_key: b754b12b39da4ce29a40c5e324650bd0
        modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
        id: 6558fc9df5b54c8a985465bdf637e097
        modified_at: 2024-05-17T00:23:17Z
        access_key_type: PERMANENT
      properties:
        access_key:
          description: Access Key
          example: b754b12b39da4ce29a40c5e324650bd0
          title: Access Key
          type: string
        access_key_type:
          allOf:
          - $ref: '#/components/schemas/AccessKeyTypeEnum'
          description: Access key type
          example: PERMANENT
        account_id:
          description: Account Id
          example: f39c460fade34fecb05ede8f904b24b7
          title: Account Id
          type: string
        created_at:
          description: Created At
          example: 2024-05-17T00:23:17Z
          format: date-time
          title: Created At
          type: string
        created_by:
          description: Created By
          example: 90dddfc2b1e04edba54ba2b41539a9ac
          title: Created By
          type: string
        description:
          nullable: true
          type: string
        expiration_timestamp:
          description: Access key expiration timestamp
          example: 9999-12-31T23:59:59Z
          format: date-time
          title: Expiration Timestamp
          type: string
        id:
          description: ID
          example: 6558fc9df5b54c8a985465bdf637e097
          title: Id
          type: string
        is_enabled:
          description: 활성화 여부
          example: "true"
          title: Is Enabled
          type: boolean
        modified_at:
          description: Modified At
          example: 2024-05-17T00:23:17Z
          format: date-time
          title: Modified At
          type: string
        modified_by:
          description: Modified By
          example: 90dddfc2b1e04edba54ba2b41539a9ac
          title: Modified By
          type: string
        parent_access_key_id:
          nullable: true
          type: string
        secret_key:
          description: Secret Key
          example: c4150149-f7c6-46bc-9faa-d2b9d20e0899
          title: Secret Key
          type: string
      required:
      - access_key
      - access_key_type
      - account_id
      - created_at
      - created_by
      - expiration_timestamp
      - id
      - is_enabled
      - modified_at
      - modified_by
      - parent_access_key_id
      - secret_key
      title: AccessKey
    AccessKeyCreateRequest:
      example:
        duration: duration
        account_id: f39c460fade34fecb05ede8f904b24b7
        parent_access_key_id: parent_access_key_id
        description: description
        access_key_type: PERMANENT
        passcode: passcode
      properties:
        access_key_type:
          allOf:
          - $ref: '#/components/schemas/AccessKeyTypeCreateRequestEnum'
          description: Access key type
          example: PERMANENT
        account_id:
          description: Account Id
          example: f39c460fade34fecb05ede8f904b24b7
          title: Account Id
          type: string
        description:
          nullable: true
          type: string
        duration:
          nullable: true
          type: string
        parent_access_key_id:
          nullable: true
          type: string
        passcode:
          nullable: true
          type: string
      required:
      - access_key_type
      title: AccessKeyCreateRequest
    AccessKeyOtpRequest:
      example:
        method: ""
        locale: ""
      properties:
        locale:
          allOf:
          - $ref: '#/components/schemas/LocaleEnum'
          description: Locale
        method:
          allOf:
          - $ref: '#/components/schemas/OtpMethodEnum'
          description: OTP method (EMAIL or PHONE)
      title: AccessKeyOtpRequest
    AccessKeyResponse:
      example:
        access_key:
          expiration_timestamp: 9999-12-31T23:59:59Z
          created_at: 2024-05-17T00:23:17Z
          description: description
          created_by: 90dddfc2b1e04edba54ba2b41539a9ac
          is_enabled: "true"
          secret_key: c4150149-f7c6-46bc-9faa-d2b9d20e0899
          account_id: f39c460fade34fecb05ede8f904b24b7
          parent_access_key_id: parent_access_key_id
          access_key: b754b12b39da4ce29a40c5e324650bd0
          modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
          id: 6558fc9df5b54c8a985465bdf637e097
          modified_at: 2024-05-17T00:23:17Z
          access_key_type: PERMANENT
      properties:
        access_key:
          $ref: '#/components/schemas/AccessKey'
      required:
      - access_key
      title: AccessKeyResponse
    AccessKeyTypeCreateRequestEnum:
      enum:
      - PERMANENT
      - TEMPORARY
      title: AccessKeyTypeCreateRequestEnum
      type: string
    AccessKeyTypeEnum:
      enum:
      - PERMANENT
      - TEMPORARY
      - SECRET_VAULT_TEMPORARY
      title: AccessKeyTypeEnum
      type: string
    AccessKeyUpdateRequest:
      example:
        is_enabled: "true"
      properties:
        is_enabled:
          default: true
          description: 활성화 여부
          example: "true"
          title: Is Enabled
          type: boolean
      title: AccessKeyUpdateRequest
    CreatedGroupMember:
      example:
        user_email: samsung.kim@samsung.com
        user_id: f39c460fade34fecb05ede8f904b24b7
        creator_email: samsung.kim@samsung.com
        user_name: Kim Samsung
        created_at: 2024-05-17T00:23:17Z
        creator_name: Kim Samsung
        created_by: ef50cdc207f05f6fb8f20219f229ed1f
      properties:
        created_at:
          description: 생성 일시
          example: 2024-05-17T00:23:17Z
          format: date-time
          title: Created At
          type: string
        created_by:
          description: 생성자
          example: ef50cdc207f05f6fb8f20219f229ed1f
          title: Created By
          type: string
        creator_email:
          default: "-"
          description: 생성자 Email
          example: samsung.kim@samsung.com
          title: Creator Email
          type: string
        creator_name:
          default: "-"
          description: "생성자 성, 이름"
          example: Kim Samsung
          title: Creator Name
          type: string
        user_email:
          default: "-"
          description: User Email
          example: samsung.kim@samsung.com
          title: User Email
          type: string
        user_id:
          description: User ID
          example: f39c460fade34fecb05ede8f904b24b7
          title: User Id
          type: string
        user_name:
          default: "-"
          description: "User 성, 이름"
          example: Kim Samsung
          title: User Name
          type: string
      required:
      - created_at
      - created_by
      - user_id
      title: CreatedGroupMember
    EndpointsResponse:
      example:
        service_type: scp-iam
        service_name: scp-iam
        region: kr-west1
        url: https://iam.dev2.samsungsdscloud.com
      properties:
        region:
          description: Region
          example: kr-west1
          title: Region
          type: string
        service_name:
          description: Service name
          example: scp-iam
          title: Service Name
          type: string
        service_type:
          description: Service type
          example: scp-iam
          title: Service Type
          type: string
        url:
          description: URL
          example: https://iam.dev2.samsungsdscloud.com
          title: Url
          type: string
      required:
      - region
      - service_name
      - service_type
      - url
      title: EndpointsResponse
    Group:
      example:
        modifier_name: Kim Samsung
        service_name: service_name
        roles:
        - modifier_name: Kim Samsung
          policies:
          - modifier_name: modifier_name
            service_name: service_name
            resource_type: resource_type
            created_at: 2024-05-17T00:23:17Z
            description: description
            policy_name: PolicyName
            default_version_id: c1b1fc611eb34eccbccfb563f77395ee
            created_by: 90dddfc2b1e04edba54ba2b41539a9ac
            srn: srn:qa2:::::iam:policy/37f2e31ff86b415698d7e8eeafab445d
            policy_versions:
            - policy_id: 37f2e31ff86b415698d7e8eeafab445d
              policy_version_name: PolicyVersion-1
              modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
              created_at: 2024-05-17T00:23:17Z
              id: c1b1fc611eb34eccbccfb563f77395ee
              modified_at: 2024-05-17T00:23:17Z
              created_by: 90dddfc2b1e04edba54ba2b41539a9ac
              policy_document: ""
            - policy_id: 37f2e31ff86b415698d7e8eeafab445d
              policy_version_name: PolicyVersion-1
              modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
              created_at: 2024-05-17T00:23:17Z
              id: c1b1fc611eb34eccbccfb563f77395ee
              modified_at: 2024-05-17T00:23:17Z
              created_by: 90dddfc2b1e04edba54ba2b41539a9ac
              policy_document: ""
            domain_name: scp
            policy_type: USER_DEFINED
            service_type: service_type
            account_id: account_id
            modifier_email: modifier_email
            creator_email: creator_email
            policy_category: IDENTITY_BASED
            modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
            creator_name: creator_name
            id: 37f2e31ff86b415698d7e8eeafab445d
            state: ACTIVE
            modified_at: 2024-05-17T00:23:17Z
          - modifier_name: modifier_name
            service_name: service_name
            resource_type: resource_type
            created_at: 2024-05-17T00:23:17Z
            description: description
            policy_name: PolicyName
            default_version_id: c1b1fc611eb34eccbccfb563f77395ee
            created_by: 90dddfc2b1e04edba54ba2b41539a9ac
            srn: srn:qa2:::::iam:policy/37f2e31ff86b415698d7e8eeafab445d
            policy_versions:
            - policy_id: 37f2e31ff86b415698d7e8eeafab445d
              policy_version_name: PolicyVersion-1
              modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
              created_at: 2024-05-17T00:23:17Z
              id: c1b1fc611eb34eccbccfb563f77395ee
              modified_at: 2024-05-17T00:23:17Z
              created_by: 90dddfc2b1e04edba54ba2b41539a9ac
              policy_document: ""
            - policy_id: 37f2e31ff86b415698d7e8eeafab445d
              policy_version_name: PolicyVersion-1
              modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
              created_at: 2024-05-17T00:23:17Z
              id: c1b1fc611eb34eccbccfb563f77395ee
              modified_at: 2024-05-17T00:23:17Z
              created_by: 90dddfc2b1e04edba54ba2b41539a9ac
              policy_document: ""
            domain_name: scp
            policy_type: USER_DEFINED
            service_type: service_type
            account_id: account_id
            modifier_email: modifier_email
            creator_email: creator_email
            policy_category: IDENTITY_BASED
            modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
            creator_name: creator_name
            id: 37f2e31ff86b415698d7e8eeafab445d
            state: ACTIVE
            modified_at: 2024-05-17T00:23:17Z
          created_at: 2024-05-17T00:23:17Z
          description: description
          type: ""
          created_by: ef50cdc207f05f6fb8f20219f229ed1f
          max_session_duration: 0
          assume_role_policy_document: ""
          account_id: account_id
          modifier_email: samsung.kim@samsung.com
          creator_email: samsung.kim@samsung.com
          modified_by: ef50cdc207f05f6fb8f20219f229ed1f
          name: name
          creator_name: Kim Samsung
          id: f39c460fade34fecb05ede8f904b24b7
          modified_at: 2024-05-17T00:23:17Z
        - modifier_name: Kim Samsung
          policies:
          - modifier_name: modifier_name
            service_name: service_name
            resource_type: resource_type
            created_at: 2024-05-17T00:23:17Z
            description: description
            policy_name: PolicyName
            default_version_id: c1b1fc611eb34eccbccfb563f77395ee
            created_by: 90dddfc2b1e04edba54ba2b41539a9ac
            srn: srn:qa2:::::iam:policy/37f2e31ff86b415698d7e8eeafab445d
            policy_versions:
            - policy_id: 37f2e31ff86b415698d7e8eeafab445d
              policy_version_name: PolicyVersion-1
              modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
              created_at: 2024-05-17T00:23:17Z
              id: c1b1fc611eb34eccbccfb563f77395ee
              modified_at: 2024-05-17T00:23:17Z
              created_by: 90dddfc2b1e04edba54ba2b41539a9ac
              policy_document: ""
            - policy_id: 37f2e31ff86b415698d7e8eeafab445d
              policy_version_name: PolicyVersion-1
              modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
              created_at: 2024-05-17T00:23:17Z
              id: c1b1fc611eb34eccbccfb563f77395ee
              modified_at: 2024-05-17T00:23:17Z
              created_by: 90dddfc2b1e04edba54ba2b41539a9ac
              policy_document: ""
            domain_name: scp
            policy_type: USER_DEFINED
            service_type: service_type
            account_id: account_id
            modifier_email: modifier_email
            creator_email: creator_email
            policy_category: IDENTITY_BASED
            modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
            creator_name: creator_name
            id: 37f2e31ff86b415698d7e8eeafab445d
            state: ACTIVE
            modified_at: 2024-05-17T00:23:17Z
          - modifier_name: modifier_name
            service_name: service_name
            resource_type: resource_type
            created_at: 2024-05-17T00:23:17Z
            description: description
            policy_name: PolicyName
            default_version_id: c1b1fc611eb34eccbccfb563f77395ee
            created_by: 90dddfc2b1e04edba54ba2b41539a9ac
            srn: srn:qa2:::::iam:policy/37f2e31ff86b415698d7e8eeafab445d
            policy_versions:
            - policy_id: 37f2e31ff86b415698d7e8eeafab445d
              policy_version_name: PolicyVersion-1
              modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
              created_at: 2024-05-17T00:23:17Z
              id: c1b1fc611eb34eccbccfb563f77395ee
              modified_at: 2024-05-17T00:23:17Z
              created_by: 90dddfc2b1e04edba54ba2b41539a9ac
              policy_document: ""
            - policy_id: 37f2e31ff86b415698d7e8eeafab445d
              policy_version_name: PolicyVersion-1
              modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
              created_at: 2024-05-17T00:23:17Z
              id: c1b1fc611eb34eccbccfb563f77395ee
              modified_at: 2024-05-17T00:23:17Z
              created_by: 90dddfc2b1e04edba54ba2b41539a9ac
              policy_document: ""
            domain_name: scp
            policy_type: USER_DEFINED
            service_type: service_type
            account_id: account_id
            modifier_email: modifier_email
            creator_email: creator_email
            policy_category: IDENTITY_BASED
            modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
            creator_name: creator_name
            id: 37f2e31ff86b415698d7e8eeafab445d
            state: ACTIVE
            modified_at: 2024-05-17T00:23:17Z
          created_at: 2024-05-17T00:23:17Z
          description: description
          type: ""
          created_by: ef50cdc207f05f6fb8f20219f229ed1f
          max_session_duration: 0
          assume_role_policy_document: ""
          account_id: account_id
          modifier_email: samsung.kim@samsung.com
          creator_email: samsung.kim@samsung.com
          modified_by: ef50cdc207f05f6fb8f20219f229ed1f
          name: name
          creator_name: Kim Samsung
          id: f39c460fade34fecb05ede8f904b24b7
          modified_at: 2024-05-17T00:23:17Z
        policies:
        - modifier_name: modifier_name
          service_name: service_name
          resource_type: resource_type
          created_at: 2024-05-17T00:23:17Z
          description: description
          policy_name: PolicyName
          default_version_id: c1b1fc611eb34eccbccfb563f77395ee
          created_by: 90dddfc2b1e04edba54ba2b41539a9ac
          srn: srn:qa2:::::iam:policy/37f2e31ff86b415698d7e8eeafab445d
          policy_versions:
          - policy_id: 37f2e31ff86b415698d7e8eeafab445d
            policy_version_name: PolicyVersion-1
            modified_by: 90dddfc2b1e04edba54ba2b41539a9ac
            created_at: 2024-05-17T00:23:17Z
            id: c1b1fc611eb34eccbccfb563f77395ee
            modified_at: 2024-05-17T00:23:17Z
[...]
